nav {
  padding: 15px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  box-shadow: 2px 2px 5px rgb(65, 65, 65);
  display: flex;
  justify-content: space-between;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
span {
  margin-right: 20px;
}

#en-cours {
  color: #780000;
}
#en-cours::before {
  display: inline-block;
  content: "";
  background: url("../img/hangman.png") center / 20px 100% no-repeat;
  width: 25px;
  height: 15px;
}
