body{
    background-color: #780000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

span {
    margin-right: 20px;
}

h1{
    text-align: center;
    margin-top: 100px;
}

p{
    margin: 0;
}

/*NAV BAR*/


/*NIVEAUX*/
#niveaux{
    text-align: center;
    margin-top: 70px;
}

.niveau{
    display: inline-block;
    background-color: white;
    font-weight: 800;
    color: rgb(33, 33, 33);
    cursor: pointer;
    padding: 30px 20px;
    margin: 0px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(74, 74, 74);
}

.niveau:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

/*CHOIX DES ITEMS*/
.modal_close{
    visibility: hidden;
}

.modal_open{
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;	
    background-color: rgb(255, 255, 255);
    color: rgb(33, 33, 33);
    height: 350px;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(69, 69, 69);
}

#liste_items{
    display: inline-flex;
}

.item{
    background-color: rgb(35, 35, 35);
    color: white;
    width: 80px;
    height: 80px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.2;
    border: solid rgb(35, 35, 35) 4px;
    border-radius: 5px;
}

.active{
    opacity: 1;
}

.chosen{
    border: solid rgb(255, 0, 0) 4px;
}

#title_modal{
    text-align: center;
    font-size: 30px;
}

.content_when_modal{
    opacity: 0.2;
}

#div_btn_modal{
    text-align: center;
    margin: 20px 0px;
}

.btn_modal_jouer{
    padding: 15px 20px;
    margin: 0px 10px;
    background-color: #780000;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

.btn_modal_jouer:hover{
    background-color: #510000;
}

.btn_modal_cancel{
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.btn_modal_cancel:hover{
    text-decoration: underline;
}