.oldLetters {
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color: #780000;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.dessin {
    margin: auto;
}

.pendu{
    display: flex;
    width: 100%;
    height: 100%;
}
.everything{
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.block{
    padding: 5px;
    width: 14em;
    margin-left: 2em;
    color: black;
    height: 40em;
    background-color: white;

}
.letters {
    border: 1px solid black;
    background-color: darkgrey;
    padding: 15px;
    margin: 3px 3px 0 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container a {
    padding: 30px;
    background: teal;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-bg {
    position: absolute;
    background: teal;
    width: 100%;
    height: 100%;
}

.modal-container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}

.button {
    cursor: pointer;
    color: white;
    background-color: #2d7eff;
    border: 5px solid transparent;
    transition: .2s ease;
    border-radius: 50px;
    padding:  0 20px;
}

.button:hover {
    color: #2d7eff;
    background-color: white;
    transform: scale(1.1);
    border: 2px solid #2d7eff;
}

.essaies{
    display: flex;
    flex-direction: row;
}

.trial{
    padding: 0 4px 0 4px;
}